name: push
on: [ push, pull_request ]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v1
        with:
          args: 'check --select I .'
      - uses: astral-sh/ruff-action@v1
        with:
          args: 'format --check'

  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python and uv.
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{matrix.python-version}}
      - name: Install dependencies
        run: uv pip install PyQt5
      - name: Run tests
        run: uv run --dev pytest tests

        